@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');


@font-face {
    font-family: PottaOne;
    src: url(Fuentes/PottaOne-Regular.ttf);
}

@font-face {
    font-family: YuseiMagic;
    src: url(Fuentes/YuseiMagic-Regular.ttf);
}

header p {
    background-color: blue;
    color: yellow;
    font-family: PottaOne;
    text-align: center;
    font-size: 200%;
    width: 75%;
}



section.Tercero {
    font-family: 'Coda Caption';
}

section.Cuarto {
    font-family: YuseiMagic;
    font-weight: bold;
    font-size: 17px;
}

section.Primero {
    background-color: rgb(53, 153, 156);
    color: white;
    font-weight: 900px;
    width: 25%;
    float:left;
    margin-top: 0.3%;
    font-size:17px;
}

hr.blue {
    color: blue;
    height: 16px;
    width: 75%;
    background-color: blue;
    text-align: left;
    margin-left: 0;
    clear: both;
}

hr.first {
    width: 50%;
    float: right;
    margin-right: 13%;
}

hr.second {
    width: 50%;
}

span {
    background-color: black;
    color: yellow;
    line-height: 2;
}